@model BlogSite.Models.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Blogger.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blogger.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.CategoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.CategoryName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BadgeLevelEarned)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BadgeLevelEarned)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isPublished)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isPublished)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PublishDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PublishDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StarRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StarRating)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArticleRepPoints)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArticleRepPoints)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
