@model BlogSite.Models.Article
@using BlogSite.Helpers;

@{
    ViewBag.Title = Model.Category.CategoryName + " - " + Model.Title;
    ViewBag.Count = Model.Comments.Count();
}

@section MetaContent
{
    <meta name="keywords" content="@Model.Title, @Model.Category.CategoryName" />
    <meta name="description" content="@Model.Title" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.Category.CategoryName" />
    @if (BlogSite.Models.NullUtility.HasAny(Model.Tags))
    {
        foreach (var t in Model.Tags)
        {
            <meta name="keywords" content="@t" />
        }
    }
}

<div id="title-wrapper">

    <div id="title-box">
        <div id="voter-box">
             @Html.VotedCssMaker("arrow-up", "vote-up", Model.HasVoted(WebSecurity.CurrentUserId))
            <div class="votes">
                @if (BlogSite.Models.NullUtility.HasAny(Model.Votes))
                {
                        @Model.Votes.Count()
                }
                else
                {
                    @Html.Encode(0);
                }
            </div>
            @Html.VotedCssMaker("arrow-down", "vote-down", false)
        </div>

        <h2 class="title-header">
            @Model.Title
            <sub class="author">Written by @Model.Blogger.UserName on @DateTimeDecoder.DatePicker(@Model.Timestamp)<img src="../../..@Model.Blogger.ImageUrl" alt="@Model.Blogger.UserName" class="avatar art" /></sub>
        </h2>
        <div id="social-box">
            @{Html.RenderPartial("~/Views/Shared/_SharedButtonsPartial.cshtml");}
        </div>
        <a href="#comments-panel" id="cref" onclick="$.show_comments();"><div id="c-bar"></div><div id="c-count" data-bind="text: count">@ViewBag.Count Comments</div></a>
    </div>
    @*<a href="@Url.Action("Details", "Account", new { id = Model.Blogger.UserId })" id="author-box" title="@Model.Blogger.UserName">
            <img alt="@Model.Blogger.UserName" src="../../../@Model.Blogger.ImageUrl" style="height: 50px; width: 45px;" />
            <span> @Html.DisplayFor(model => model.Blogger.UserName)</span>
        </a>*@
</div>


<span class="bread">
    @ViewBag.Type @Model.Category.CategoryName @if (BlogSite.Models.NullUtility.HasAny(Model.Tags))
    {
        foreach (var t in Model.Tags)
        {
        
         <a href="@Url.Action("SearchArticlesByTagId", new { tid = t.TagId })"> @t.Name</a> 
        }
    }
</span>

<div class="panel-box" itemscope itemtype="http://schema.org/Article">

    @Html.Raw(Model.Content)
</div>
<div id="comments-panel" class="panel-box">
    <div class="show-comments" onclick="$.show_comments();"><div id="upNdown"></div><span id="showNhide">Show Comments</span></div><br />  <br />

    <div id="comments-partial" style="display:none;">
     
            @Html.Action("AddComment", "Article", new { AId = Model.ArticleId })
   
            @Html.Action("GetCommentsById", "Article", new { AId = Model.ArticleId })
   </div>

</div>

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279311015524396";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.comments.js")
    @Scripts.Render("~/Scripts/textareaExpander.js")
    <script>

        $(document).ready(function () {
            //event listeners for votes snippet
            $(".vote").click({ id: "@Model.ArticleId", uid: "@WebSecurity.CurrentUserId" }, vote);
            $(".like").click({ cid: this.CommentId, uid: "@WebSecurity.CurrentUserId", like: true }, like);
            $(".unlike").click({ cid: this.CommentId, uid: "@WebSecurity.CurrentUserId", like: false }, like);
            // $(".content-box").bind({ length: "Model.Content.Length" }, expand_textarea);
            // expand textareas
            jQuery("textarea[class*=content-box]").TextAreaExpander();
            //Toggles comments
            //voteable = (age < 18) ? "Too young" : "Old enough";
            //...
            //$(".ellipsis").dotdotdot({
            //    after: "a.readmore"
            //});
            @*$('#fb-share').click(function () {

                $.ajax({
                    url: "/Article/AddRepPoints?AId=" + @Model.ArticleId + "&value=" + @BlogSite.Models.PointValues.Share,
                    success: function(){
                        alert('success');
                    },
                    error: function(){
                        alert('failure');
                    }
                });
            });*@


        });


        @*function AppViewModel(@Model.ArticleId) {
            this.count = @Url.Action("GetCommentCount",new { id = @Model.ArticleId}) + " Comments";
        }

            // Activates knockout.js
            ko.applyBindings(new AppViewModel());*@
    </script>
}