@model BlogSite.Models.Article

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserId)
  
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RepPoints)
        @Html.HiddenFor(model => model.BadgeLevelEarned)
        @Html.HiddenFor(model => model.isPublished)
        @Html.HiddenFor(model => model.PublishDate)
        @Html.HiddenFor(model => model.Timestamp)
      <fieldset>
        <legend>Article</legend>


       
        <div class="editor-label">
    @Html.LabelFor(model => model.CategoryId, "Category")
</div>
<div class="editor-field">
    @Html.DropDownList("CategoryId", String.Empty)
    @Html.ValidationMessageFor(model => model.CategoryId)
</div>
        <button onclick="getPartial()">Add Tag</button>
        <div id=right-box class=data></div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({ selector: 'textarea' });
</script>
<script type="text/javascript">

    function getPartial() {
        $.get('/Article/AddCategory', function (data) {
            $('div#right-box.data').html(data);

        });
    }
</script>  


    

