@model IQueryable<BlogSite.ViewModels.TitleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    

@foreach (var article in Model) {
    <tr>

        <td>
           <a href="@Url.Action("Details","Article", new { id = article.ArticleId })">@article.Title</a>
        </td>
        <td>
            @Html.DisplayFor(a => article.AuthorName)
        </td>
        <td>
            @Html.Encode(article.PartialContent)



        </td>
        
    </tr>
}

</table>
